################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/netstandard2.0
/PublishAzDoTestResults
/.vs
/obj
/installer.ps1
/Properties/launchSettings.json
/aztestplansdk.dll
/PublishAzDoTestResults.dll
/Properties/launchSettings.json
/bin/Release/netstandard2.0
